.page-content{
    margin-left:200px;
    margin-top:70px;
    padding:30px;
    min-height:calc(100vh - 70px);
    box-sizing:border-box;
     width:calc(100% - 200px);
}

@media screen and (max-width:768px){

    .page-content{
        margin-left:0;
        padding:20px;
        width:100%;
    }

}